<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plantGO">
    <!-- __________________ Permissions propres à l'appareil photo __________________ -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- __________________ Permissions propres à Google Maps __________________ -->
    <!-- Pour la localisation GPS (consomme plus de batterie) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Pour la localisation via réseau Wifi / 3G (consomme moins de batterie) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- __________________ Permissions propres à Firebase __________________ -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--
          The API key for Google Maps-based APIs is defined as a string resource.
          (See the file "res/values/google_maps_api.xml").
          Note that the API key is linked to the encryption key used to sign the APK.
          You need a different API key for each encryption key, including the release key that is used to
          sign the APK for publishing.
          You can define the keys for the debug and release targets in src/debug/ and src/release/.
     -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="res/values/google_maps_api.xml" />
        <activity
            android:name="com.example.plantGO.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.plantGO.AndroidLauncherRandom"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.example.plantGO.ConsignesDeJeu"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.plantGO.AppPhotoActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.plantGO.ProfilActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.plantGO.Inventaire"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.plantGO.Personnage"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.plantGO.JeuCoffreTresor"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.plantGO.APIActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.plantGO.cartePlanteActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.plantGO.HerbierActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>